@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  color: #EDEEF7;
}

body {
  font-family: 'Noto Sans';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Noto Sans';
  font-weight: 700;
}

html {
  font-size: 100%;
  overflow-x: hidden;
} /* 16px */

h1 {font-size: 5.652rem; /* 90.4px */}

h2 {font-size: 3.997rem; /* 64px */}

h3 {font-size: 2.827rem; /* 45.28px */}

h4 {font-size: 1.999rem; /* 32px */}

h5 {font-size: 1.414rem; /* 22.56px */}

small {font-size: 0.707rem; /* 11.36px */}

.navbar {
  background-color: #080815;
  position: fixed;
  top: 0;
  width: 100vw;
  border-bottom: 0.5px solid #21238e;
}

nav ul > *:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: #9A9CE1;
  transition-duration: 0.3s;
}

.gradient-text {
  --bg-size: 400%;
  background: linear-gradient(to left, #9A9CE1, #4448DF, #9A9CE1);
  -webkit-background-clip: text;
  color: transparent;
  background-size: 200% 100%;
  animation: color 10s linear infinite;
}

.hero {
  background: linear-gradient(to bottom, #080815 25%, #21238e 150%);
}

/* WAVES */
.custom-shape-divider-top-1705915278 {
  bottom: -8vh;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  position: absolute;
}

.custom-shape-divider-top-1705915278 svg {
  position: relative;
  display: block;
  width: calc(135% + 1.3px);
  height: 78px;
}

.custom-shape-divider-top-1705915278 .shape-fill {
  fill: #0C0C27;
}
/* END OF WAVES */

.projects {
  background-color: #9A9CE1;
}

@keyframes color {
  to {
    background-position: var(--bg-size) 0;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 13px;
  }
}

@media screen and (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 1400px) {
  html {
    font-size: 15px;
  }
}