@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  color: #EDEEF7;
}

body {
  font-family: 'Noto Sans';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Noto Sans';
  font-weight: 700;
}

html {
  font-size: 100%;
  overflow-x: hidden;
} /* 16px */

h1 {font-size: 5.652rem; /* 90.4px */}

h2 {font-size: 3.997rem; /* 64px */}

h3 {font-size: 2.827rem; /* 45.28px */}

h4 {font-size: 1.999rem; /* 32px */}

h5 {font-size: 1.414rem; /* 22.56px */}

small {font-size: 0.707rem; /* 11.36px */}

.navbar {
  background-color: #080815;
  position: fixed;
  top: 0;
  width: 100vw;
}

nav ul > *:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: #9A9CE1;
  transition-duration: 0.2s;
  transform-origin: center;
}

.gradient-text {
  --bg-size: 400%;
  background: linear-gradient(to left, #9A9CE1, #4448DF, #9A9CE1);
  -webkit-background-clip: text;
  color: transparent;
  background-size: 200% 100%;
  animation: color 10s linear infinite;
}

.hero {
  background: linear-gradient(to bottom, #080815 25%, #21238e 150%);
  height: 120vh;
}

@keyframes moveGradient {
  0%, 100% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 200% 200%;
  }
}

.projects {
  background: linear-gradient(to bottom, #17185d 20%, #080815 100%);
}

.project-card {
  background-color: #21238e;
  flex-basis: 45%;
}

.project-card:hover {
  transform: scale(1.05);
}

.repo-button {
  background-color: #17185d;
  transition-duration: 0.2s;
}
.repo-button:hover {
  background-color: #080815;
}


/* STARS */
.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.star {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  transform-origin: center;
  animation: moveStar 5s infinite alternate;
}

.foreground {
  /* filter: invert(4%) sepia(5%) saturate(7202%) hue-rotate(203deg) brightness(97%) contrast(101%); */
  bottom: 60vh;
  overflow: visible;
}

@keyframes moveStar {
  0% {
      transform: translate(-5px, -5px);
  }
  100% {
      transform: translate(5px, 5px);
  }
}

@keyframes color {
  to {
    background-position: var(--bg-size) 0;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 13px;
  }
}

@media screen and (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 1400px) {
  html {
    font-size: 15px;
  }
}